body {
    margin: 0;
    background: radial-gradient(#ddaee4,#067197, rgb(0, 1, 3))no-repeat fixed;
    padding: 50px 0px;
}

button.clear {
   background: #6cd8eb;
    color: #fff;
}
table {
     background: rgb(6, 35, 54);
    padding: 7px 5px;
    border: 6px solid #00000000;
    text-align: center;
    padding-bottom: 0px;
    box-shadow: 0px 0px 27px #0d5569;
    border-radius: 10px;
    margin-top: 90px;
}
button.equal {
    width: 88%;
    background: #16c3da;
}
button.equal:hover{
	 background: #0eadc9;
}
input[type="text"] {
    width: 450px;
    height: 81px;
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 29px;
    background: #000000;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: cursive;
    margin-top: 10px;
    color: #dedede;
    border-bottom: 2px solid #54e6eb;
}
button {
    padding: 10px 20px;
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    font-family: cursive;
    background: #000803;
    border: none;
    color: #3ee2e7;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
	background: #0763db;
}